body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
}
body {
  /* background: #1C8EF9 !important; */
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}
body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}
.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}
.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.auth-inner {
  width: auto;;
  /* width: 450px; */
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 400;
}
.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}
.forgot-password a {
  color: #167bff;
}
/* .icon-free:before {
  content: "\e902";
}
.icon:before {
  font-family: 'cdns-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  vertical-align: bottom;
  margin-right: 10px;
  display: inline-block;
  transition: all .15s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
.dashboard-table th {
  background-color: #d6d6d6;
  color: #333;
  padding: 10px 10px;
  white-space: nowrap;
  font-size: 1em;
  font-weight: bold;
}
.dashboard-table{
  width: 100%;
}
.dashboard-table.dashboard thead tr th:first-child, .dashboard-table.dashboard tbody tr td:first-child {
  width: 30px;
}
.dashboard-table thead tr:first-child th:last-child, .dashboard-table tbody tr:first-child td:last-child {
  border-top-right-radius: 10px;
}
.dashboard-table thead tr th:last-child, .dashboard-table tbody tr td:last-child {
  width: 20px;
}
.dashboard-table thead tr th .quickSearchWraper {
  width: 270px;
}
.quickSearchWraper {
  background-color: #d6d6d6;
  padding: 10px;
  position: absolute;
  z-index: 10;
  top: 0;
  border-radius: 10px;
  right:0;
}
.sub-header {
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
  font-size: 0.8em;
  padding: 16px 0;
  position: relative;
  font-weight: bold;
}
.zones-sub-header.sub-header {
  box-shadow: none;
}
ul{
  list-style: none;
}
.sub-header ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-bottom: -10px;
  overflow: hidden;
}
.sub-header li {
  margin-right: 2%;
  font-weight: bold;
  white-space: nowrap;
  margin-bottom: 10px;
  position: relative;
}
.dashboard-table thead a {
  color: #333;
}
.table-icon{
  margin-right: 10px;
}
a, span.a {
  cursor: pointer;
  /* color: #ff6921; */
  text-decoration: none;
  background-color: transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.dashboard-table th.table-heading {
  font-size: 1.2em;
}
.dashboard-table thead tr th {
  vertical-align: top;
}
.dashboard-table .round-btn {
  font-size: 12px !important;
  transition: none;
  margin: 0 5px;
}
.round-btn {
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: all .4s;
  transition: all .4s;
  display: inline-block;
  font-family: inherit;
}
.xs-btn {
  font-weight: normal;
  font-size: 0.6em;
  padding: 2px 15px;
}
.color-btn {
  background-color: #ff6921;
}
.color-btn:hover {
  background-color: #ff7a09;
}
.x-bright2-btn:hover, .x-bright3-btn:hover {
  background-color: #f3f3f3;
}
.dark-btn, .color-btn {
  color: #fff;
}
.zones-table-buttons button{
  border:none;
}
.flat2-input-style input, .flat2-input-style select, .flat2-input-style textarea {
  background-color: #ededed;
  border: 1px solid transparent;
  box-shadow: none;
  color: #333;
}
/* MODAL */
/* Modal overlay */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Show the modal when it's open */
.modal.is-open {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal dialog */
.modal-dialog {
  position: absolute;
  top: 10%;
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

/* Modal content */
.modal-content {
  padding: 20px;
  position: relative;
}

/* Modal header */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 20px; */
  padding: 0;
  border-bottom: 0;
}

/* Close button */
.btn-close {
  padding: 0;
  margin: 0;
  border: none;
  font-size: 1.2rem;
  color: #999;
  cursor: pointer;
  position: absolute;
  right:-20px;
  top:-10px;
  border-radius: 50%;
  background-color: #fff;
  width: 35px;
  height: 35px;
  box-shadow: -1px 1px 2px 0 #a79f9e;
  opacity: 1;
}

/* Close button hover */
.btn-close:hover {
  color: #000;
}
.newZoneBox.card-gradient {
  background-color: #e0e0e0;
  border: none;
  padding: 10px;
  width: 200px;
  -webkit-box-shadow: 0 2px 0px 0 rgba(72,62,52,.3);
  box-shadow: 0 2px 0px 0 rgba(72,62,52,.3);
  border-radius: 8px;
  cursor: pointer;
  text-align: left;
  color: #333;
  font-family: 'Nunito', sans-serif;
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 10px 20px;
  white-space: normal;
}
.newZoneBox.card-gradient:hover {
  -webkit-box-shadow: 0 0 0 2px #ff6921 !Important;
  box-shadow: 0 0 0 2px #ff6921 !Important;
}
.card-gradient b{
  font-size: 0.85em;
}
.card-gradient span{
  font-weight: normal;
  font-size: 0.7em;
}
.new-zone-h2{
  font-weight: 100;
  font-size: 1.6em;
  margin: 0 auto 30px;
}
.row-content-mb10 {
  margin-bottom: 10px;
}
form.master-zone label{
  position: relative;
  /* margin: 0 30px; */
}